.main-card {
    display: grid;
    grid-gap: 10px;
    margin: 0 auto;
    padding: 8px;
    height: 80%;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    border: 1px black solid;
}

/* .left-side {
    height: 80%
}

.right-side {
    height: 80%
} */